* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GT America Standard', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #191a1b;
    text-rendering: optimizeLegibility;
}

.nav-wrapper {
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    -webkit-transition: margin-top 0.7s ease;
    transition: margin-top 0.7s ease;
    height: 88px;
    background-color: #000000;
    padding-left: 4rem;
    padding-right: 4rem;
}

.logo {
    display: block;
    height: 2rem;
    width: 126px;
    margin-right: 3px;
}

.abstract-logo:hover, .abstract-logo:focus {
    fill: rgba(25, 26, 27, 1) !important;
}

.logo-box {
    display: flex;
    color: #fff;
    width: 30%;
    align-items: center;
    -webkit-box-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

.primary-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    padding: 10px 22px;
    font-size: 24px;
    line-height: 1.5;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1rem;
    border: 1px solid transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-family: "GT America Standard", serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    -moz-user-select: none;
    user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
    border-radius: 8px;
}

.drk-btn {
    background: #191a1b;
    color: #fff;
    border-color: #fff;
    font-size: large;
    font-family: sans-serif;
}

.primary-btn {
    background: #4C5FD5;
    padding-left: 32px;
    padding-right: 32px;
    color: #fff;
    font-size: large;
}

.primary-btn:hover {
    background: #fff;
    color: #191a1b;
    border-color: #fff;
}

.search-main {
    position: relative;
    background: #DADBF1;
    padding-top: 80px;
    padding-bottom: 115px;
    max-height: 420px;
}

.text {
    text-align: center;
    color: #000000;
    font-size: 70px;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

.form-container {
    position: relative;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
}

.form-container {
    max-width: 720px;
}


input {
    display: block;
    width: 100%;
    padding: 1rem 1rem;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
    font-weight: 400;
    background: #fff;
    border: 1px solid #dee2e6;
    line-height: 32px !important;
    color: #000 !important;
    border-color: #000 !important;
    border-radius: 4px !important;
    outline: none;
}


input:hover{
    border-color: #4C5FD5 !important;
}

#input::-moz-placeholder {
    color: #000000;
    font-size: large;
    font-weight: 400;
}

.arrow-svg {
    fill: #000000;
    transform: translateY(-50%);
    position: absolute;
    right: 15px;
    bottom: -5px;
    z-index: 1;
    width: 28px;
    z-index: 100;
    transition: all .3s;
}


.arrow-svg:hover {
    fill: #4C5FD5 !important;
}

.card {
    display: flex;
    min-height: 115px;
    width: 50%;
    margin-bottom: 3rem;
    padding-right: 15px;
}

img {
    max-height: 120px;
    height: 80px;
    margin-right: 30px;
    margin: 3rem 1rem 1rem;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 8rem;
}

.heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 3rem 0 1rem;
}

.txt {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

.learn {
    text-decoration: none;
    color: #4C5FD5;
}

.learn:hover, .learn:focus {
    color: #4C5FD5;
    text-decoration: underline;
}

.footer {
    position: relative;
    background: #000000;
    color: #fff;
    padding: 3rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: auto;     
}


.copy{
    position: absolute;
    right: 5rem;
    bottom: 3rem;
}

.footer-head {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin: 3rem 0 1rem;
}

.footer-logo{
    width: 138px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 50em) {
    .logo-box {
        font-size: small;
    }
    .help {
        display: none;
    }
    .primary-buttons {
        display: none;
    }
    .text {
        font-size: 40px;
    }
    .form-container{
        max-width: 400px;
    }
    input{
        padding: .5rem;
    }
    .arrow-svg{
        bottom: -9px;
    }
    .items-container{
        display: inline-block;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .card {
        width: 100%;
    }
    .txt{
        font-size: 15px;
        line-height: 20px;
    }
    .learn {
        font-size: medium;
    }
    .footer {
        padding: 1rem;
        font-size: 10px;
        line-height: 15px;
        font-weight: 300;
    }
    .footer-main{
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    .footer-head {
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        margin-right: 1rem;
    }

    .copy{
        position: static;
        margin-top: 3rem;
        margin-left: 4rem;
    }
    

    .txt {
        font-size: medium;
    }
}

@media only  screen and (max-width: 70em) {
    .logo-box {
        font-size: small;
    }
    .logo {
        width: 96px;
        height: 1rem;
    }
    .btn {
        padding: 5px 11px;
        font-size: medium;
    }
    input {
      padding: .8rem;
    }

    .form-container{
        max-width: 600px;
    }

    .text {
        font-size: 55px;
    }

    .items-container {
        margin: 0;
    }

    .txt {
        font-size: medium;
    }

    .footer-column {
        margin: .5rem;
    }
    .footer-head {
        font-size: large;
    }
    .footer-main{
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 50px;
    }
    .copy{
        position: static;
        margin-top: 3rem;
        margin-left: 4rem;
    }
}



@media (min-width: 768px) {
    .container {
        padding-right: calc(15px * 2);
        padding-left: calc(15px * 2);
    }
}